@import "tailwindcss";

.tiptap p {
  margin: 0.5rem 0;
}

.tiptap ul,
.tiptap ol {
  margin: 0.5rem 0;
  padding-left: 1.25rem;
}

.tiptap ul {
  list-style: disc;
}

.tiptap ol {
  list-style: decimal;
}

.tiptap a {
  color: #93c5fd;
  text-decoration: underline;
}